body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

.top_block {
    background-color: blue;
    color: white;
    height: 300px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle_block {
    background-color: white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px;
    height: 350px;
}


.middle_chelf {
    background-color: darkblue;
    color: white;
    height: 300px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.bottom_block {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 800px;
}